body {
	background: url('../img/quad.jpg');
	background-repeat: no-repeat;
    background-size: 100% 100%;
}

html {
	height: 100%
}

#title {
	margin-top: 7%;
	color: #FA6300;
}

#search-bar {
	margin-top: 20px;
}