<!DOCTYPE html>
<html>

<head>
    <title>Illini Classes</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='../static/css/review-styles.css'>
    <link rel='stylesheet' type='text/css' href='../static/css/index-styles.css'>
    <script src='/static/js/script.js'></script>
</head>

<body>
    <div class='container-fluid'>
        <h6><i>Contact <a href='mailto:phule2@illinois.edu' target="_top">Phillip</a> or <a href='mailto:shanennn@gmail.com' target="_top">Shane</a></i></h6>
        <div class='col-lg-3 col-md-3 col-sm-2 col-xs-1'>
            <!-- Dummy div -->
        </div>
        <div class='input-group col-lg-6 col-md-6 col-sm-8 col-xs-10'>
            <h1 id='title'>Illini Classes</h1>
            <h6 id='crowdsource'>... a crowdsourced course review by UIUC students, for UIUC students</h6>
            <form method='POST'>
                <div id='search-bar' class='input-group'>

                    {{ search_bar.course_name(class='form-control', placeholder="Enter a class") }}

                    <span class='input-group-btn'>
						{{ search_bar.submit(class='btn btn-success')}}
					</span>
                </div>
            </form>
        </div>
        <div class='col-lg-3 col-md-3 col-sm-2 col-xs-1'>
            <!-- Dummy div -->
        </div>
    </div>
    </div>
</body>

</html>