<!DOCTYPE html>
<html>
<head>
	<title>Illini Classes</title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
	<link rel='stylesheet' type='text/css' href='../static/css/styles.css'>
	<link rel='stylesheet' type='text/css' href='../static/css/index-styles.css'>  
	<script src='/static/js/script.js'></script>
</head>
<body>
<div class='container'>
	<div class='row'>
		<div class='col-lg-3'> <!-- Dummy div -->
		</div>
		<div class='input-group col-lg-6'>
			<h1 id='title'>Illini Classes</h1>
			<form method='POST'>
			 <div class='input-group col-md-12'>
			 
				{{ form.course_name(class='form-control', placeholder="Enter a class") }}
				
					<span class='input-group-btn' >
						{{ form.submit(class='btn btn-success')}}
					</span>
			</div>
			</form>
		</div>
		<div class='col-lg-3'> <!-- Dummy div -->
		</div>
	</div>
</div>
</body>
</html>