<!DOCTYPE html>
<html>
<head>
	<title>Review Page</title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
	<link rel='stylesheet' type='text/css' href='../static/css/styles.css'> 
</head>
<body>
<div class='container'>
	<div>
	<div class='header well'>
		<div>
			<div id='course-name'>
				{{ foo }}
			</div>
			<div id='description'>
				{{ des }}
			</div>
		</div>
	</div>
		<form method='POST'>
		{{ form.hidden_tag() }}
			<div>
				{{ form.review(rows='3', class='form-control', placeholder="Write your review here...") }}
			</div>

			<div class='input-group'>
				{{ form.hours(class='form-control') }}
				<span class='input-group-btn'>
					{{ form.submit(class='pull-right btn btn-success')}}
				</span>
			</div>
		</form>
	</div>
	<div id='review-start'></div>
	<div>
	{% if reviews|length == 0 %}
		<p> No reviews for this course yet :( </p>
	{% else %}
		{% for review_i in reviews %}

			<i>{{ review_i.time }}</i>
			</br>
		<blockquote>
			<p>
				{{ review_i.review }}
				</br>
				<p><strong>Workload per week:</strong> {{ review_i.hours }}</p> 
			</p>
		</blockquote>
		{% endfor %}
	{% endif %}
	</div>
</div>
</body>
</html>