<!DOCTYPE html>
<html>
<head>
	<title>Review Page</title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
	<link rel='stylesheet' type='text/css' href='../static/css/styles.css'> 
</head>
<body>
<div class='row'>
	<div class='col-lg-12'>
	<div>
		<div  id='header'>
			{{ foo }}
		</div>
		<div class='well'>
			{{ des }}
		</div>
	</div>
		<form method='POST'>
		{{ form.hidden_tag() }}

			<div>
				{{ form.review}}
			</div>
			<div>
				{{ form.tip}}
			</div>

			<div>
				{{ form.submit(class='btn-primary')}}
			</div>
		</form>
	</div>
</div>
</body>
</html>