<!DOCTYPE html>
<html>
<head>
	<title>Review Page</title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
	<link rel='stylesheet' type='text/css' href='../static/css/styles.css'> 
</head>
<body>
<div class='container-fluid'>
	<div class='row header well'>
		<div>
			<div id='course-name'>
				{{ foo }}
			</div>
			<div id='description'>
				{{ des }}
			</div>
		</div>
	</div>
</div>
<div class='container'>
		<div>
			<form method='POST'>
			{{ form.hidden_tag() }}
				<div>
					{{ form.review(rows='3', class='form-control', placeholder="Write your review here...") }}
				</div>

				<div class='input-group'>
					{{ form.hours(class='form-control') }}
					<span class='input-group-btn'>
						{{ form.submit(class='pull-right btn btn-success')}}
					</span>
				</div>
			</form>
		</div>
	</div>
</div>
{% for review_i in reviews %}
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-lg-8">
		<blockquote>
			<p>
				{{ review_i.review }}
			</p>
		</blockquote>
	</div>
	<div class="col-md-2"></div>
</div>
{% endfor %}
</body>
</html>